
.vscode/**/*
.pio/**/*

build/**/*
a.out
miniMidiOut

portaudio/**/*
*.tgz

.cache/**/*
CMakeFiles/**/*
CMakeCache.txt
cmake_install.cmake
Makefile

# used by clangd vscode extension.
# cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON .
compile_commands.json
